@model List<FootballСalendar.Models.FootballClubVM>

@{
    ViewData["Title"] = "Index";
}
@await Html.PartialAsync("/Views/Admin/_PartialViews.cshtml")
<h1>Футбольні клуби</h1>

@if (Model.Count == 0)
{
    <br />
    <h3>Пусто =(</h3>
    <br />
    <br />
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Логотип</th>
                <th>Назва</th>
                <th>Місто</th>
                <th>Домашній стадіон</th>
                <th>Трененр</th>
                <th>Ліга</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@item.Logo" width="100" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomeStadium.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Coach.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.League.Name)
                    </td>
                    <td>
                        <div class="btn-group d-flex justify-content-end">
                            <a class="btn btn-secondary" asp-controller="Country" asp-action="Edit" asp-route-id=@item.Id>Редагувати</a>

                            <a class="btn btn-secondary" asp-controller="Country" asp-action="Delete" asp-route-id=@item.Id> Видалити</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<a class="btn btn-secondary " asp-area="" asp-controller="FootballClub" asp-action="Create">Додати клуб</a>
