<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FootballСalendar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>


    @*<div id="g_1_UkZH2WSc" title="Подробиці матчу!" class="event__match event__match--scheduled event__match--oneLine">
    <div class="event__check"></div>
    <div class="event__time">20:00</div>
    <div class="event__participant event__participant--home">Динамо К. (Ukr)</div>
    <div class="event__scores">-</div>
    <div class="event__participant event__participant--away">АЗ Алкмар (Ned)</div>
    <svg class="bet___3LxnyUK event__live--icon icon--live" data-bookmaker-id="417">
        <title></title>
        <use xlink:href="/res/_fs/build/symbols.69e8023.svg#liveBetDesktop"></use></svg></div>*@

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FC</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Матчі</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Live">Live</a>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Панель розробника</a>
                            </li>
                        }



                    </ul>


                    @if (User.Identity.IsAuthenticated)
                    {
                        using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "form-inline my-2 my-lg-0" }))
                        {
                            @Html.AntiForgeryToken()

                            <a asp-controller="Profile" asp-action="Index">Привіт @User.Identity.Name</a>

                            <a href="#" onclick="document.getElementById('logoutForm').submit();"
                               class="nav-link btn btn-link text-dark">Вихід</a>

                        }
                    }
                    else
                    {
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Вхід</a>
                            </li>
                        </ul>
                    }

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - FootballСalendar - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
